  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

  <html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="CatanBoardGenerator">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Default -->
    <title>Faculty | WebAdvisor | University of Guelph</title>
    <link rel="shortcut icon" href="https://webadvisor.uoguelph.ca/WebAdvisor/stylesheets/themes/GUELPH/images/guelph.ico">
    <link href="public/css/template.css" rel="stylesheet" type="text/css" media="screen">
    <link href="public/css/linkPreview.css" rel="stylesheet" type="text/css">
    <link href="public/css/css" rel="stylesheet" type="text/css">
    <link href="public/css/ug-override.css" type="text/css" rel="stylesheet" media="screen">
    <link href="public/css/ug-wa3.css" type="text/css" rel="stylesheet" media="screen">
    <link href="public/css/SiteStyle.css" type="text/css" rel="stylesheet">
    <link href="public/css/print.css" type="text/css" rel="stylesheet" media="print">

    <!-- Custom Imports for GEC -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Angular 1.5.7-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Underscore -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- Local App -->
    <script src="index.js"></script>

  </head>

  <body ng-controller="MainController">
    <!-- Header -->
    <div id="header">
      <div id="global">
        <div class="container">
          <img style="height:auto" id="logo" href="public/images/universityofguelph.gif" src="public/images/universityofguelph.gif"></img>
          <h1>
            <span class="office"><a href="http://www.uoguelph.ca/registrar/">Office of Registrarial Services</a></span><span class="department"><a href="https://webadvisor.uoguelph.ca/">WebAdvisor for Students</a></span>
          </h1>
          <a id="ghlogo" href="http://www.guelphhumber.ca/"><img alt="University of Guelph-Humber Logo" src="public/css/ghlogo.gif"></a>
        </div>
      </div>
      <div id="local">
        <div class="container">
          <div id="acctToolbar">
            <ul class="toolbar">
              <li id="acctHelp">
                <a target="_help" href="http://www.uoguelph.ca/registrar/index.cfm?app=webadvisor&amp;page=help&amp;process=corewbfc" accesskey="h"><span class="label">Help</span></a>
              </li>
              <li id="acctConstituency">
                <a href="https://webadvisor.uoguelph.ca/WebAdvisor/WebAdvisor?TOKENIDX=9057747325&amp;CONSTITUENCY=WBFC&amp;TYPE=M&amp;PID=CORE-WBFC" onmouseover="window.status=&#39;&#39;; return true;"><span class="label">Faculty Menu</span></a>
              </li>
              <li id="acctMain">
                <a href="https://webadvisor.uoguelph.ca/WebAdvisor/WebAdvisor?TOKENIDX=9057747325&amp;CONSTITUENCY=WBFC&amp;TYPE=M&amp;PID=CORE-WBMAIN" onmouseover="window.status=&#39;&#39;; return true;"><span class="label">Main Menu</span></a>
              </li>
              <li id="acctLogin">
                <a href="https://webadvisor.uoguelph.ca/WebAdvisor/WebAdvisor?TOKENIDX=9057747325&amp;CONSTITUENCY=WBFC&amp;type=P&amp;pid=UT-LGRQ" onmouseover="window.status=&#39;&#39;; return true;"><span class="label">Log In </span></a>
              </li>
            </ul>
            <div id="acctWidget">
            </div>
          </div>
        </div>
      </div>
      <div class="custom">
      </div>
      <div id="askgryph">
        <form action="http://askgryph.registrar.uoguelph.ca/" method="post" target="_ask">
          <div>
            <label id="ask-title" for="ask-question">Have a question? Ask Gryph!</label> <input id="ask-question" name="question" size="15" value="" type="text"> <input id="ask-button" type="submit" value="Ask"><input type="hidden" name="id" value="-1"><input type="hidden" name="requestType"><input type="hidden" name="interfaceID" value="1"><input type="hidden" name="source" value="1">
          </div>
        </form>
      </div>
    </div>

    <!-- Main Content -->
    <div id="main" style="background-color:rgb(142,137, 123)">
      <div class="container" style="background-image: url('public/images/cannonbanner.jpg');height:400px">
        <div style="padding-left:55px">

          <br>
          <p style="font-size:32px;font-weight:200">Cannon Scheduler</p>
          <br>
          <button type="button" style="padding:10px;border-radius:5px;background-color:#EEE" ng-click="addGroup('true');"> Add a group </button>
          <button type="createSchedule" style="padding:10px;border-radius:5px;background-color:#EEE" ng-click="createSchedule();scheduleToggle('true')"> View Schedule </button>
          <br>
          <br>

          <div ng-if="showForm == true">
            <form>
              Group Name:<br>
              <input type="text" ng-model="groups.name"><br>
              Number of People:<br>
              <input type="text" ng-model="groups.people"><br>
               Arrival time:<br>
              <input type="text" ng-model="groups.arrivalTime"><br>
               Length (Hours:Minutes):<br>
              <input type="text" ng-model="groups.length"><br>
               Email:<br>
              <input type="text" ng-model="groups.email"><br>
            </form>
            <br>
            <div syle="text-align:center;">
              <button type="createSchedule" style="padding:5px;border-radius:5px;background-color:#EEE" ng-click="addGroup('false');"> Cancel </button>
              <button type="createSchedule" style="padding:5px;border-radius:5px;background-color:#EEE" ng-click="addGroup('false');confirm('true');"> Add </button>
            </div>
            <br>
          </div>

          <div ng-if="showConfirm == true">
            <h3> Thanks for scheduling the cannon.</h3>
            <br>
            <h4> Confirmation </h4>
            <div style="background-color:#eee;border-radius:5px;width:200px;padding-left:10px">
              <br>
                <p><b>Name: </b>{{groups.name}}</p>
                <p><b>People: </b>{{groups.people}}</p>
                <p><b>Arrival Time: </b>{{groups.arrivalTime}}</p>
                <p><b>Length: </b> {{groups.length}}</p>
                 <p><b>Email: </b> {{groups.email}}</p>
              </br>
            </div>
            <br>
            <h3> You will receive an email shortly</h3>
            <br>
             <button type="createSchedule" style="padding:5px;border-radius:5px;margin-bottom:20px;background-color:#EEE" ng-click="confirm('false');"> Back </button>
          </div>

          <div ng-show="showSchedule == true" style="padding-margin:20px">
             <p ng-repeat="group in schedule">
              <span> Scheduled Time {{group["Arrival time"]}}, </span>
              <span> Team Name {{group["Group Name"]}}, </span>
              <span> Number of People {{group["Number of people"]}}, </span>
              <span> Duration {{group["duration"]}} </span>            
            </p>
            <br>
             <button type="createSchedule" style="padding:5px;margin-bottom:20px;border-radius:5px;background-color:#EEE" ng-click="scheduleToggle('false');"> Back </button>
          </div>



        </div>
        <div class="clear">
        </div>
      </div>
    </div>

    <!-- Misc -->
    <div id="misc" xmlns="">
      <div class="container">
        <div id="links">
          <p id="aodafooter">If you require a student record or information on program requirements in an alternate format, please contact <a href="mailto:ups@uoguelph.ca">ups@uoguelph.ca</a> <i class="fa fa-envelope" aria-hidden="true"> </i>.
          </p>
          <div class="custom">
          </div>
        </div>
        <div id="address" class="vcard">
          <div class="org fn">University of Guelph</div>
          <div class="adr">
            <div>
              <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=106115594900620713079.000436308185e9184c678&amp;ll=43.531407,-80.228584&amp;spn=0.007607,0.014591&amp;z=16&amp;om=1" title="Find us on Google Maps" class="street-address">50 Stone Road East</a>
            </div>
            <span class="locality">Guelph</span>, 
            <span class="region">Ontario</span>, 
            <span class="postal-code">N1G 2W1</span>
            <br>
            <span class="country-name">Canada</span>
          </div>
          <div class="tel">519-824-4120</div>
        </div>
        <div class="clear">
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer" xmlns="">
      <div class="container">
        <p>© Office of Registrarial Services</p>
      </div>
    </div>

  </body>

</html>